*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlog{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("logoa.png");
    background-size:cover;
    height: 50px;
    width: 150px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add1{
    color: #cccccc;
    font-size: .85rem;
    margin-left: 15px;

}
.add2{
    font-size: 1rem;
    margin-left: 15px;

}
.add-icon{
    display: flex;
}
.nav-address{
    margin-left: 15px;
}
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color:pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    margin-left: 15px;


}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background: #f3f3f3;
    width: 50px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    border: none;
    color: black;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#febd68;
    font-size: 1.2rem;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0f1111;
}

span{
    font-size: .7rem;
}
.nav2{
    font-size:.85rem ;
    font-weight: 700;
}
.butf select{
    background-color: #0f1111;
    color: white;
    border: 1px solid transparent;
    font-weight: 700;
    width: 105px;
    
}

.nav-return{
    margin-left: 15px;
}
.nav-signin{
    margin-left: 15px;
}
.nav-cart i{
    font-size: 35px;

}
.nav-cart{
    font-size: .85rem;
    font-weight: 700;
   
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: .85rem;
}
.panel-deals{
    font-size:0.95rem ;
    font-weight: 700;
}
.hero-section{
    background-image:url("back.png") ;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .85rem;
    width: 80%;
    margin-bottom: 25px;
    
}
.hero-message a{
    color: #007185;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#FBE3E3;
    
    
}
.box{
    height: 480px;
    
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    text-align: center;
    
    
    
}
.box-img{
    height: 380px;
    background-size: cover;

    margin-top: 1rem;
    margin-bottom: 2rem;
    
    
}

.box-content{
margin-left: 1rem;
margin-right: 1rem;

}
.box-content p{
    color: #007185;
    text-align: start;
}

.boxa{
    height: 480px;
    width: 23%;
    background-color: white;
    margin-top: 15px;
    font-size: .85rem;
    text-align: center;  

}
.boxx{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#FBE3E3 ;
   height: 1003px;
   
}
.box1 {
    height: 160px;
    width: 140px;
    border: none;
    margin-top: 35px;
    
    
}

.box1a {
    display:flex;
    justify-content: space-evenly;
    
}
.boxa h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.bimg{
    background-size: cover;
}
.boxx p{
    font-size: 1.05rem;
    color: #007185;
    text-align: start;
    margin-top: 15px;
    margin-left: 15px;
}


.foot-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: .85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    

}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: .85rem;
    margin-top: 10px;
    color: #dddddd;
}



.foot-panel3{
    background-color:#222f3d ;
    color: white;
    border-top: .00001px solid #7d7878;
    height: 70px;
    display: flex;
    
}
.logoa{
    background-image: url("logg.png");
    background-size: cover;
    height: 45px;
    width: 100px;
    margin-left: 600px;
    margin-top: 4px;
    
   
}

.but{
    background-color:#222f3d;
    margin-top: 18px;
    margin-left: 45px;
  }
  
  select{
      background-color: #222f3d;
      color: #dddddd;
      padding: 5px 5px 5px 5px;
      border-radius: 3px;
  }
  .flag{
      background-color:#222f3d;
      margin-top: 18px;
      margin-left: 7px;
      border: .01px solid #9c9797;
      color: #cccccc;
      padding:  4px 4px 4px 4px;
      height: 18px;
      font-size: .85rem;
      width: 40px;
      border-radius: 3px;
  }


.foot-panela{
    background-color: #0f1111;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.foot-panela1{
    margin-bottom: 20px;
    margin-top: 20px;
}
.foot-panela1 p{
    font-size: .95rem;
    color: white;
}
.foot-panela1 a{
    font-size: .75rem;
    color: #cccccc;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 100px;
    
}
.pages{
    font-size: .7rem;
    text-align: center;
    padding-top: 25px;
}
.copyright{
    font-size: .7rem;
    text-align: center;
    padding-top: 5px;
}
